body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.dropdown-menu.show{
    max-height: 250px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

.dbc .SingleDatePickerInput__withBorder {
    border: var(--bs-border-width) solid var(--bs-border-color) !important;
    background-color: white  !important;
    width: 150px;
    height: 50px;
    align-content: center;
}

.SingleDatePickerInput__withBorder {
    border-radius: 10px;

.DateInput_input {
    font-weight: 200;
    font-size: 19px;
    line-height: 24px;
    color: white;
    background-color: #565e64;
    width: 100%;
    padding: 11px 11px 9px;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid transparent;
    border-left: 0;
    border-radius: 10px;
}

.DateInput {
    margin: 0;
    padding: 0;
    background: transparent;
    position: relative;
    display: inline-block;
    width: 130px;
    vertical-align: middle;